* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.csv text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.bat text eol=crlf

*.db binary
*.sqlite binary
*.png binary
*.zip binary
